{% extends '::base.html.twig' %}

{% block body %}
    {{ form(data, {'action': path('post_article')}) }}
    <a href="{{ path('homepage') }}">
        {{ "Retour à la liste" }}
    </a>
{% endblock %}

{% block title %}
    Créer un article
{% endblock %}